/************************************************************
Hoja de CSS con estilos de la página about.html
    · Estilos de bloques principales
    · Estilos de acordeones
    · Estilos de formulario de contacto
    · Media queries
*************************************************************/

.Main-content{
    min-height: 70vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10%;
}

.Main-about,
.Main-contact {
    width: 50%;
    max-width: 46.875rem;
}

.Main-about{
    width: 50%;
    max-width: 46.875rem;
}

.About-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 calc(var(--p-simple) / 2);
}

.About-h1, 
.About-h2, 
.Contact-h2,
.About-p {
    font-size: var(--fs-texts);
}

.About-p {
    line-height: 1.75rem;
}

.About-h1::after{
    content: '-';
    margin: 0 calc(var(--p-simple) / 4) 0 calc(var(--p-simple) / 4);
}

.Main-accordion {
   width: 100%;
   max-width: 46.875rem;
   margin: 1.5rem 0 0;
}

.Accordion-wrapper {
    margin: 0 0 calc(var(--p-simple) / 2);
}

.Accordion-btn,
.Accordion-btn--contact {
    width: 100%;
    margin: 0 0 calc(var(--p-simple) / 2);
    border-radius: calc(var(--p-simple) / 2);
    color: var(--c-black);
    background-color: var(--c-white);
    font-size: var(--fs-texts);
    font-family: inherit;
    text-align: left;
    transition: color 0.25s ease-in-out;
}

.Accordion-btn:hover,
.Accordion-btn--contact:hover {
    color: var(--c-primary);
    cursor: pointer;
}

.Accordion-btn::after,
.Accordion-btn--contact::after {
    content: '';
    display: block;
    width: 0%;
    height: .125rem;
    margin: calc(var(--p-simple) / 4) 0 0;
    background-color: var(--c-primary);
    transition: all 0.4s ease-in-out;
}

.Accordion-btn:hover::after,
.Accordion-btn--contact:hover::after{
    width: 100%;
}

.Accordion-btn:active,
.Accordion-btn--contact:active {
    color: var(--c-secondary);
}

.Accordion-btn:active::after,
.Accordion-btn--contact:active::after{
    width: 100%;
    background-color: var(--c-secondary);
}

.Accordion-content,
.Accordion-contact {
    width: 100%;
    height: 0;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.Accordion-content.isActive {
    height: 4.5rem;
    opacity: 1;
    pointer-events: auto;
}

.Accordion-contact.isActive {
    height: 20rem;
    opacity: 1;
    pointer-events: auto;
}

.Accordion-li {
    margin: 0 0 calc(var(--p-simple) / 2);
}

.Accordion-a {
    text-decoration: underline;
    transition: color 0.25s ease-in-out;
}

.Accordion-a:hover {
    color: var(--c-primary);
}

.Accordion-a:active {
    color: var(--c-secondary);
}

.Content-contact {
    width: 100%;
}

.Form-input{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.Form-input > label {
    font-size: var(--fs-label);
    margin: 0 0 .3125rem;
}

.Form-input > input,
.Form-input > textarea {
    width: 100%;
    min-width: 8.5rem;
    min-height: 2.375rem;
    margin: 0 0 calc(var(--p-simple) / 2);
    padding: calc(var(--p-simple) / 8) calc(var(--p-simple) / 4);
    border-bottom: .125rem solid var(--c-black);
    font-size: var(--fs-input);
    font-family: inherit;
    color: var(--c-black);
}

.Form-input > textarea {
    min-height: 4.6875rem;
}

.Form-input > input[type=submit] {
    width: 50%;
    background-color: var(--c-white);
    border: .125rem solid var(--c-black);
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.Form-input > input[type=submit]:hover {
    color: var(--c-white);
    background-color: var(--c-primary);
    border: .125rem solid var(--c-white);
}

.Form-input > input[type=submit]:active {
    background-color: var(--c-secondary);
}

.Form-input > input::placeholder,
.Form-input > textarea::placeholder {
    font-family: inherit;
    color: var(--c-black);
}

@media (max-width: 950px){
    .Main-content {
        flex-flow: column nowrap;
    } 

    .Main-about {
        width: 100%;
        max-width: none;
    }

    .Main-accordion,
    .Main-contact{
        width: 100%;
        max-width: 34.375rem;
    }
}

@media (max-width: 600px){
    .Accordion-content.isActive {
        height: 6.5rem;
    }
}

@media (max-width: 320px){
    .Accordion-content.isActive {
        height: 10.5rem;
    }
}