/************************************************************
Hoja de CSS con estilos de la página about.html
    · Estilos de bloques principales
    · Media queries
*************************************************************/

.Main-content{
    min-height: 76vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10%;
}

.Main-about {
    width: 60%;
    max-width: 42rem;
}

.About-h2 {
    margin: 0 0 calc(var(--p-simple) / 2);
}

.About-h2,
.About-p {
    font-size: var(--fs-about);
    line-height: var(--p-simple);
}

.About-p.Jury {
    margin: var(--p-simple) 0;
}

.About-wrapper {
    margin: calc(var(--p-simple) / 2) 0 calc(var(--p-simple) / 2);
}

.Accordion-btn--awards {
    width: 100%;
    border-radius: calc(var(--p-simple) / 2);
    margin: 0 0 calc(var(--p-simple) / 2);
    color: var(--c-black);
    background-color: var(--c-white);
    font-size: var(--fs-texts);
    font-family: inherit;
    text-align: left;
    transition: color 0.25s ease-in-out;
}

.Accordion-btn--awards:hover {
    cursor: pointer;    
    color: var(--c-primary);
}

.Accordion-btn--awards:active {
    color: var(--c-secondary);   
}

.Accordion-awards {
    width: 100%;
    height: 0;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.Accordion-awards.isActive {
    height: 35rem;
    opacity: 1;
    pointer-events: auto;
}

.Awards-ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: calc(var(--p-simple) / 3);
    padding: calc(var(--p-simple) / 4) 0 0 calc(var(--p-simple) / 4);
}

.Awards-li {
    font-size: var(--fs-min);
    line-height: 1.5rem;
}

.Awards-li-last {
    margin: 0 0 var(--p-simple) 0;
}

.Awards-li-title {
    font-size: var(--fs-about);
}

.Awards-content {
    margin: 0 0 var(--p-simple) 0;
}

.Main-accordion {
   width: 100%;
   max-width: 46.875rem;
   margin: 1.5rem 0 0;
}

.Contact-li {
    margin: 0 0 calc(var(--p-simple) / 1.75);
}

.Contact-a {
    transition: color 0.25s ease-in-out;
}

.Contact-a:hover {
    color: var(--c-primary);
}

.Contact-a:active {
    color: var(--c-secondary);
}

@media (max-width: 950px){
    .Main-content {
        flex-flow: column nowrap;
    } 

    .Main-about {
        width: 100%;
        max-width: none;
    }

    .Main-accordion,
    .Main-contact{
        width: 100%;
        max-width: 34.375rem;
    }
}

@media (max-width: 800px){
    .Accordion-awards.isActive {
        height: auto;
    }
}