/************************************************************
Hoja de CSS con estilos de la página about.html
    · Estilos de bloques principales
    · Media queries
*************************************************************/

.Main-content{
    min-height: 70vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10%;
}

.Main-about {
    width: 50%;
    max-width: 46.875rem;
}

.Main-about{
    width: 50%;
    max-width: 43.75rem;
}

.About-h2 {
    margin: 0 0 calc(var(--p-simple) / 2);
}

.About-h2,
.About-p {
    font-size: var(--fs-texts);
    line-height: 1.85rem;
}

.Main-accordion {
   width: 100%;
   max-width: 46.875rem;
   margin: 1.5rem 0 0;
}

.Awards-content {
    width: 100%;
    margin: calc(var(--p-simple)/1.75) 0 calc(var(--p-simple)/2);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.Awards-h3 {
    width: 100%;
    margin: 0 0 calc(var(--p-simple) / 2);
    color: var(--c-black);
    font-size: var(--fs-texts);
    transition: color 0.25s ease-in-out;
}

.Awards-h3:hover{
    color: var(--c-primary);
    cursor: pointer;
}

.Awards-li,
.Contact-li {
    margin: 0 0 calc(var(--p-simple) / 2);
}

.Contact-li.A {
    margin: 0 0 calc(var(--p-simple));
}

.Contact-a {
    transition: color 0.25s ease-in-out;
}

.Contact-a:hover {
    color: var(--c-primary);
}

.Contact-a:active {
    color: var(--c-secondary);
}

@media (max-width: 950px){
    .Main-content {
        flex-flow: column nowrap;
    } 

    .Main-about {
        width: 100%;
        max-width: none;
    }

    .Main-accordion,
    .Main-contact{
        width: 100%;
        max-width: 34.375rem;
    }
}