/************************************************************
Hoja de CSS con estilos de la página work.html y páginas de proyectos
    · Estilos de bloques principales
    · Estilos de camino de migas
    · Estilos de los section de proyectos
        - Carrusel de imágenes
        - Textos de proyectos
    · Media queries
*************************************************************/

.Main-works{
    padding: 0;
    max-width: max-content;
}

/************************************************************
    Bloque de estilos del camino de migas
*************************************************************/

.Breadcrumbs{
    width: 100%;
    padding: calc(var(--p-simple) / 2) var(--p-double);
}

.Breadcrumbs-ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.Breadcrumbs-li{
    text-transform: uppercase;
    font-size: var(--fs-label);
    transition: color 0.25s ease-in-out;
}

.Breadcrumbs-li:hover{
    color: var(--c-primary);
}

.Breadcrumbs-li:active{
    color: var(--c-secondary);
}


.Breadcrumbs-li::before{
    content: '<';
    padding: 0 calc(var(--p-simple) / 4);
    color: var(--c-grey);
}

.Breadcrumbs-li.Active{
    color: var(--c-primary);
}

/************************************************************
    Bloque de estilos de los carruseles de imágenes
*************************************************************/

.Carrusel{
    width: 100%;
    overflow: hidden;
}

.Carrusel-container{
    width: max-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: calc(var(--p-simple) / 4);
    transition: transform 0.5s ease-in-out;
    transform: translateX(0%);
}

.Container-img{
    height: 18.75rem;
    overflow: hidden;
}

.Container-img.Project{
    height: 34.375rem;
}

.Img-picture,
.Img-archive{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/************************************************************
    Bloque de estilos de los textos de los proyectos
*************************************************************/

.Work-text{
    padding: calc(var(--p-simple) / 1.33) var(--p-double) var(--p-simple);
}

.Work-text,
.Work-a{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: calc(var(--p-simple) / 4);
}

.Work-a{
    width: 100%;
    transition: color 0.25s ease-in-out;
}

.Work-a.Out{
    text-transform: uppercase;
    text-decoration: underline;
    padding: calc(var(--p-simple) / 4) 0 0 calc(var(--p-simple) / 2.66);
}

.Work-a:hover{
    color: var(--c-primary);
}

.Work-a:active{
    color: var(--c-secondary);
}

.Work-h2{
    font-size: var(--fs-input);
}

.Work-span{
    font-size: var(--fs-input);
    text-transform: uppercase;
}

.Work-p{
    max-width: 46.875rem;
    font-weight: 300;
    margin: calc(var(--p-simple) / 4) 0 0;
}

.Work-span--more{
    font-size: var(--fs-input);
    margin: calc( var(--p-simple) / 4) 0 0;
}

/************************************************************
    Media Queries
*************************************************************/

@media (max-width: 500px){
    .Work-text{
        padding: calc(var(--p-simple) / 1.33) var(--p-simple);
    }

    .Breadcrumbs{
        padding: calc(var(--p-simple) / 1.33) var(--p-simple);
    }

    .Container-img{
        height: 12.5rem;
        overflow: hidden;
    }

    .Container-img.Project{
        height: 25rem;
    }
    
    .Img-picture,
    .Img-archive{
        width: auto;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}